spring:
  datasource:
    url: jdbc:mysql://localhost:3306/blogging_platform?useSSL=false&allowPublicKeyRetrieval=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: password
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: create
    show-sql: true
  h2:
    console:
      enabled: false
  jackson:
    time-zone: Asia/Jakarta
    date-format: yyyy-MM-dd HH:mm:ss
    serialization:
      write-dates-as-timestamps: false
server:
  port: 8080
