spring:
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/blogdb}
    driver-class-name: org.postgresql.Driver
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:password}
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    show-sql: false
  h2:
    console:
      enabled: false
server:
  port: ${PORT:8080}